<%- include("_header.html") -%>
<h1>Flickr</h1>
<h2>Search</h2>
<p>Search for a phrase or keyword on <a href="https://www.flickr.com/">Flickr</a> and return a list of photos.</p>
<h3>Request</h3>
<pre>https://rappi.herokuapp.com/flickr/search.json?q=<strong>yourquery</strong></pre>
<h3>Response</h3>
<pre>
{
  status: "ok",
  photos: [
    {
      id: "25634623722",
      owner: "27962698@N06",
      title: "JA_20160226_133822.jpg",
      squareUrl: "https://farm2.staticflickr.com/1571/25634623722_725c96cf16_q.jpg",
      thumbnailUrl: "https://farm2.staticflickr.com/1571/25634623722_725c96cf16_t.jpg",
      mediumUrl: "https://farm2.staticflickr.com/1571/25634623722_725c96cf16_z.jpg",
      largeUrl: "https://farm2.staticflickr.com/1571/25634623722_725c96cf16_b.jpg"
    },
    {
      id: "25634581312",
      owner: "12412342@N05",
      title: "Orchid_DSC1588",
      squareUrl: "https://farm2.staticflickr.com/1698/25634581312_c4dbde43b1_q.jpg",
      thumbnailUrl: "https://farm2.staticflickr.com/1698/25634581312_c4dbde43b1_t.jpg",
      mediumUrl: "https://farm2.staticflickr.com/1698/25634581312_c4dbde43b1_z.jpg",
      largeUrl: "https://farm2.staticflickr.com/1698/25634581312_c4dbde43b1_b.jpg"
    }
  ]
}
</pre>
<h3>Example</h3>
<pre>
$.getJSON('https://rappi.herokuapp.com/flickr/search.json?q=flower', function(result) {
  if (result.status !== 'ok') {
    alert(result.message);
  }
  // Add the photos to the document.
  for (var i = 0; i < result.photos.length; i++) {
    var img = document.createElement('img');
    img.src = result.photos[i].squareUrl;
    document.body.appendChild(img);
  }
});
</pre>
<%- include("_footer.html") -%>
