body {
  font: 14px sans-serif;
  width: 800px;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 0;
}

header {
  margin-top: 20px;
  border-top: 1px solid #dde;
  border-bottom: 1px solid #bbc;
  background: #ccd;
  color: #334;
  padding: 5px 5px;
  font-weight: bold;
  border-radius: 5px;
}

header a {
  color: #334;
  text-decoration: none;
}

header a span {
  opacity: 0.4;
}

footer {
  text-align: center;
  font-size: 16px;
  opacity: 0.4;
  margin: 20px 0;
}

pre {
  padding: 10px 5px;
  background: #e7e7e7;
  border-radius: 3px;
  color: #334;
  overflow-x: auto;
}
