body {
  font: 14px sans-serif;
  width: 800px;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 0;
}

header {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

header a {
  color: #334;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  transition: background 300ms;
  border-radius: 2px;
}

header a:hover {
  background: #ddd;
}

header a span {
  opacity: 0.4;
}

h1 {
  font-weight: 200;
  color: #444;
}

h2 {
  font-weight: 200;
  color: #666;
  border-bottom: 1px solid #ddd;
}

footer {
  text-align: center;
  font-size: 16px;
  opacity: 0.4;
  margin: 20px 0;
}

pre {
  padding: 10px 5px;
  background: #e7e7e7;
  border-radius: 3px;
  color: #334;
  overflow-x: auto;
}

ul.services li {
  font-size: 16px;
  line-height: 2em;
  color: #666;
}

ul.services li a {
  text-decoration: none;
  color: #666;
  border-bottom: 1px solid #999;
}

ul.services li a:hover {
  border-bottom-color: #333;
}
